@keyframes arrow {
  0% {
    transform: translate(100%, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 100%);
    opacity: 0;
  }
}
@keyframes arrow-right {
  0% {
    right: 120%;
    opacity: 0;
  }
  50% {
    opacity: 1;
    right: 50%;
  }
  100% {
    opacity: 0;
    right: -40%;
  }
}
@keyframes projects {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}
@media all and (max-width: 880px) {
  html body {
    padding: 3.5rem 2.5rem;
  }
  html body h1 + span {
    top: 4rem;
    display: block;
  }
  section#about, section#projects {
    padding: 6.5rem 0 0 0;
  }
  section article {
    flex-wrap: wrap;
  }
  section article:nth-of-type(even) {
    flex-direction: row;
  }
  section article:nth-of-type(even) .description {
    padding: 0;
  }
  section article:not(:first-of-type) {
    margin-top: 5rem;
  }
  section article .image,
  section article .description {
    width: 100%;
  }
  section article .description {
    padding: 0;
  }
  section article .description p:first-of-type {
    margin-top: 1.5rem;
  }
}
@media all and (max-width: 560px) {
  h2 {
    font-size: 2.5rem;
  }
  html body:before {
    height: 10.5rem;
  }
  html body nav:not(.variant-switcher) {
    justify-content: flex-start;
    top: 4.5rem;
    margin-left: -2.5rem;
  }
  html body nav:not(.variant-switcher) a {
    margin: 0 0 0 2.5rem;
  }
  html body.projects-page:before {
    height: 12.5rem;
  }
  html body.projects-page nav:not(.variant-switcher) {
    top: 6rem;
  }
  .projects-page main {
    height: calc(100vh - 178px);
  }
  .projects-page main h2 {
    align-self: center;
  }
  .projects-page main h2:hover:before {
    border-top: 2px solid yellow;
    right: 0;
    transition: all 1s ease-in;
  }
  .projects-page section#projects article h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .projects-page section#projects article:hover h3 {
    white-space: normal;
  }
  main {
    height: calc(100vh - 157px);
    justify-content: flex-start;
    overflow-x: hidden;
  }
  footer {
    height: calc(100vh - 280px);
    margin-bottom: 5rem;
  }
  footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer section a {
    margin: 1rem 0 0 0;
  }
  footer section a:last-of-type {
    margin-left: auto;
    margin-right: auto;
  }
}
