@keyframes arrow {
  0% {
    transform: translate(100%, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 100%);
    opacity: 0;
  }
}
@keyframes arrow-right {
  0% {
    right: 120%;
    opacity: 0;
  }
  50% {
    opacity: 1;
    right: 50%;
  }
  100% {
    opacity: 0;
    right: -40%;
  }
}
@keyframes projects {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}
.projects-page main h2 {
  align-self: center;
  hyphens: none;
  word-break: keep-all;
}
.projects-page main h2:hover:before {
  border-top: 2px solid yellow;
  right: 0;
  transition: all 1s ease-in;
}
.projects-page section#projects article {
  width: 100%;
  height: 12.5rem;
  display: flex;
  position: relative;
  padding: 1.5rem;
  transition: all 1s ease;
  background-color: #191919;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.projects-page section#projects article a.heading {
  display: contents;
}
.projects-page section#projects article:hover {
  height: 25rem;
  transition: all 1s ease;
}
.projects-page section#projects article:not(:first-of-type) {
  margin-top: 80px;
}
.projects-page section#projects article.star-sitter {
  background-image: url(../resources/star-sitter-cover.png);
}
.projects-page section#projects article.diversion {
  background-image: url(../resources/diversion-cover.png);
}
.projects-page section#projects article.service-areas {
  background-image: url(../resources/service-areas-cover.png);
}
.projects-page section#projects article.graduated-fees {
  background-image: url(../resources/graduated-fees-cover.png);
}
.projects-page section#projects article h3 {
  align-self: center;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
}
.projects-page section#projects article a.link-type {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background-color: #191919;
  left: 1.5rem;
  top: 1.5rem;
  background-size: cover;
}
.projects-page section#projects article a.link-type:nth-of-type(2) {
  left: 4rem;
}
.projects-page section#projects article a.link-type:hover:not(.wip) {
  animation: projects 1s ease-in-out infinite;
}
.projects-page section#projects article a.link-type.wip {
  width: 100%;
  background-color: transparent;
}
.projects-page section#projects article a.link-type.medium {
  background-image: url(../resources/medium.svg);
}
.projects-page section#projects article a.link-type.behance {
  background-image: url(../resources/behance.svg);
}
.projects-page section#projects article a.link-type.external-link {
  background-image: url(../resources/external-link.svg);
}
.projects-page section#projects article a.link-type.link {
  background-image: url(../resources/link.svg);
}
.projects-page section#projects article p {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  column-count: 1;
}

html body.case-study-page .specific-project .image {
  min-height: 400px;
  padding: 0;
  overflow: hidden;
  background-blend-mode: normal;
}
html body.case-study-page .specific-project .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
html body.case-study-page .specific-project .description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
html body.projects-dashboards .specific-project .image {
  min-height: 400px;
  background-blend-mode: normal;
  background-repeat: no-repeat;
}
html body.projects-dashboards .specific-project .description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
html body.projects-dashboards .specific-project .dashboard01 .image {
  background-image: url(../resources/dashboard01.png);
  background-size: 220%;
  background-position: bottom right;
}
html body.projects-dashboards .specific-project .dashboard02 .image {
  background-image: url(../resources/dashboard02.png);
  background-size: 190%;
  background-position: top left;
}
html body.projects-dashboards .specific-project .dashboard03 .image {
  background-image: url(../resources/dashboard03.png);
  background-size: cover;
  background-position: top right;
}
html body.projects-dashboards .specific-project .dashboard04 .image {
  background-image: url(../resources/dashboard04.png);
  background-size: 200%;
  background-position: top left;
}
html body.projects-dashboards .specific-project .dashboard05 .image {
  background-image: url(../resources/dashboard05.png);
  background-size: 190%;
  background-position: center top;
}
