@import 'variables';
@import 'functions';

@media all and (max-width: 880px) {
    html {
        body {
            padding: px(56) px(40);
            h1 {
                + span {
                    top: px(64);
                    display: block;
                }
            }
        }
    }

    section {

        &#about,
        &#projects {
            padding: px(104) 0 0 0;
        }
        article {
            flex-wrap: wrap;

            &:nth-of-type(even) {
                flex-direction: row;

                .description {
                    padding: 0;
                }
            }

            &:not(:first-of-type) {
                margin-top: px(80);
            }

            .image,
            .description {
                width: 100%;
            }

            .description {
                padding: 0;

                p {
                    &:first-of-type {
                        margin-top: px(24);
                    }
                }
            }
        }
    }
}


@media all and (max-width: 560px) {
    h2 {
        font-size: px(40);
    }
    html {
        body {
            &:before {
                height: px(168);
            }
            nav:not(.variant-switcher) {
                justify-content: flex-start;
                top: px(72);
                margin-left: px(-40);
                a {
                    margin: 0 0 0 px(40);

                }
            }
            &.projects-page {
                &:before {
                    height: px(200);
                }
                nav:not(.variant-switcher) {
                    top: px(96);
                }
            }
        }
    }

    .projects-page {
        main {
            height: calc(100vh - 178px);

            h2 {
                align-self: center;

                &:hover {
                    &:before {
                        border-top: 2px solid $secondary;
                        right: 0;
                        transition: all 1s ease-in;
                    }
                }
            }
        }
        section {
            &#projects {
                article {
                    h3 {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover {
                        h3 {
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }

    main {
        height: calc(100vh - 157px);
        justify-content: flex-start;
        overflow-x: hidden;
    }

    footer {
        height: calc(100vh - 280px);
        margin-bottom: px(80);
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                margin: px(16) 0 0 0;
                &:last-of-type {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

}
