@import 'variables';
@import 'functions';
@import 'projects';

html {
    background-color: $dark;
    color: $light;
    font-family: 'Fahkwang', sans-serif;
    font-size: px(16);
    font-weight: 300;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;

    body {
        margin: 0 auto;
        max-width: 1440px;
        padding: 80px;
        box-sizing: border-box;

        &:before {
            content: "";
            position: fixed;
            background-color: $dark;
            width: 100vw;
            height: px(144);
            top: 0;
            margin-top: -32px;
            left: 0;
            z-index: 8;
            opacity: 0.95;
        }

        * {
            box-sizing: inherit;
        }

        h1 {
            align-self: flex-start;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: fixed;
            position: sticky;
            top: px(40);
            z-index: 10;
            font-weight: 600;
            display: inline-flex;
            margin: 0;

            +span {
                position: -moz-sticky;
                position: -ms-sticky;
                position: -o-sticky;
                position: fixed;
                position: sticky;
                top: px(64);
                z-index: 9;
                font-weight: 300;
                display: block;
            }
        }

        a {
            font-weight: 600;
            text-decoration: none;

            &:hover {
                color: $secondary;
                transition: all 1s
            }
        }

        nav {
            display: flex;
            justify-content: flex-end;
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: px(40);
            z-index: 9;

            a {
                margin: 0 0 0 px(80);
                position: relative;

                &:first-of-type {
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                    }

                    &:hover {
                        &:before {
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-play-state: running;
                        }
                    }
                }

                &:last-of-type {
                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                    }

                    &:hover {
                        &:before {
                            animation-duration: 2s;
                            animation-iteration-count: infinite;
                            animation-play-state: running;
                        }
                    }
                }
            }
        }

        &.home-page {
            nav {
                a {
                    &:first-of-type {
                        &:before {
                            background-image: url(../resources/arrow.svg);
                            transform: translate(0, 0);
                            opacity: 1;
                            transition: all 0.6666666667s;
                            margin: 12px 0 0 -24px;

                        }

                        &:hover {
                            &:before {
                                transform: translate(0, 100%);
                                opacity: 0;
                                transition: all 0.6666666667s;
                                animation-name: arrow;
                                animation-delay: 0.6666666667s;
                            }
                        }
                    }

                    &:last-of-type {
                        &:before {
                            background-image: url(../resources/arrow-right.svg);
                            opacity: 0;
                            right: 120%; 
                            margin: 4px 0 0 0;
                        }

                        &:hover {
                            &:before {
                                animation-name: arrow-right;
                            }
                        }
                    }
                }
            }
        }

        &.projects-page {
            nav {
                a {
                    &:first-of-type {
                        &:before {
                            background-image: url(../resources/arrow-right.svg);
                            opacity: 0;
                            right: 120%;
                            margin: 4px 0 0 0;
                        }

                        &:hover {
                            &:before {
                                animation-name: arrow-right;
                            }
                        }
                    }

                    &:last-of-type {
                        &:before {
                            background-image: url(../resources/arrow.svg);
                            transform: translate(0, 0);
                            opacity: 1;
                            transition: all 0.6666666667s;
                            margin: 12px 0 0 -24px;

                        }

                        &:hover {
                            &:before {
                                transform: translate(0, 100%);
                                opacity: 0;
                                transition: all 0.6666666667s;
                                animation-name: arrow;
                            }
                        }
                    }
                }
            }
        }
    }
}

::-moz-selection {
    background-color: $secondary;
    color: $dark;
}

::selection {
    background-color: $secondary;
    color: $dark;
}

a {
    color: $light;
    font-size: px(18);
}

h1 {
    font-size: px(18);
}

h2 {
    font-size: px(80);
    position: relative;

    span {
        &:first-of-type {
            background-color: $dark;
            padding-right: 32px;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0.7em;
        left: 0;
        right: 0;
        border-top: 2px solid #FFFFFF;
        z-index: -1;
        transition: all 1s ease-in;
    }
}


main {
    height: calc(100vh - 206px);
    @include center-flex;

    h2 {
        align-self: center;

        &:hover {
            &:before {
                border-top: 2px solid $secondary;
                right: 100%;
                transition: all 1s ease-in;
            }
        }
    }

    span {
        &.digital {
            &:after {
                content: "";
                width: 16px;
                height: 16px;
                background-image: url(../resources/myh.png);
                background-size: cover;
                background-position: center;
                background-color: red;
                position: absolute;
                padding: px(200);
                margin-left: px(-240);
                margin-top: px(-200);
                opacity: 0;
                pointer-events: none;
                transition: all 2s steps(8, end);
            }

            &:hover {
                &:after {
                    opacity: 0.4;
                    margin-left: px(-120);
                }
            }
        }

        &.experience {
            &:after {
                content: "";
                width: 16px;
                height: 16px;
                background-image: url(../resources/needat.png);
                background-size: cover;
                background-position: center;
                background-color: $light;
                position: absolute;
                padding: px(200);
                margin-left: px(-240);
                margin-top: px(-200);
                opacity: 0;
                pointer-events: none;
                transition: all 2s steps(8, end);
            }

            &:hover {
                &:after {
                    opacity: 0.4;
                    margin-left: px(-380);
                    margin-top: px(-120);
                }
            }
        }

        &.designer {
            &:after {
                content: "";
                width: 16px;
                height: 16px;
                background-color: $secondary;
                position: absolute;
                padding: px(200);
                margin-left: px(-400);
                margin-top: px(-400);
                opacity: 0;
                pointer-events: none;
                transition: all 2s steps(8, end);
            }

            &:hover {
                &:after {
                    opacity: 0.4;
                    margin-top: px(-200);
                }
            }
        }

    }
}

section {

    &#about,
    &#projects {
        padding: 200px 0 0 0;
    }

    article {
        display: flex;
        flex-wrap: nowrap;

        &:not(:first-of-type) {
            margin-top: px(200);
        }

        &:nth-of-type(even) {
            flex-direction: row-reverse;

            .description {
                padding: 0 px(40) 0 0;
            }
        }

        .image,
        .description {
            width: 50%;
        }

        .image {
            display: flex;
            justify-content: center;
            background-size: cover;
            background-position: center;
            background-blend-mode: multiply;
            background-color: $dark_blend;
            padding: 24px;

            h3 {
                align-self: center;
                font-size: px(40);
                text-align: center;
            }
        }

        &.aboutme {
            .image {
                background-image: url(../resources/about.png);
            }
        }

        &.journey {
            .image {
                background-image: url(../resources/journey.png);
            }
        }

        &.projects {
            .image {
                background-image: url(../resources/projects.png);
            }
        }

        &.toolsfields {
            .image {
                background-image: url(../resources/tools.png);
            }
        }

        .description {
            font-weight: 300;
            font-size: px(18);
            line-height: px(32);
            padding: 0 0 0 px(40);

            a {
                font-weight: 300;
            }

            .name {
                width: 70%;
                float: left;

                span {
                    font-weight: 600;
                }
            }

            .date {
                width: 30%;
                float: right;
                text-align: right;
            }


        }

        &:nth-last-of-type(2):not(.dashboard03) {
            p {
                column-count: 2;
                margin: 0;
            }
        }
    }
}

footer {
    @include center-flex;
    margin-top: px(200);
    height: calc(100vh - 166px);

    h2 {
        align-self: flex-end;
    }

    section {
        display: flex;
        width: 100%;
        margin: px(24) 0 0;
        align-self: flex-end;
        flex-wrap: wrap;

        a {
            margin: px(16) px(40) 0 0;
            position: relative;

            &:last-of-type {
                margin-left: auto;
                margin-right: 0;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: -0.5em;
                left: 50%;
                right: 50%;
                border-top: 2px solid $secondary;
                z-index: 2;
                transition: all 0.5s ease-in;
            }

            &:hover {
                &:before {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}


@import 'media-queries';